@use "./_iconpack-D2L"as *;
@use "./_iconpack-toolbar"as *;
@use "./_iconpack-snap"as *;
@use "./_iconpack-LOM"as *;
@use "./_iconpack-QS"as *;
@use "./_iconpack-fontawesome"as *;
@use "./_iconpack-ribbons"as *;
/* *************************************************************************
* -------------------------------- ICONPACK LIST generation-------------------
*   
* ************************************************************************/

$o-ico-packs: (LOM: (1: newpage,
        2: plus,
        3: layout,
        4: texttool,
        5: custom,
        6: image,
        7: wrench,
        8: preview,
        9: details,
        10: move,
        11: gear,
        12: structure,
        13: theme,
        14: editpage,
        15: upload,
        16: download,
        17: trash,
        18: tabs,
        19: lightbox,
        20: audio,
        21: video,
        22: classPicker,
        23: ribbonPicker,
        24: resources,
        25: login,
        26: faq,
        27: buildYourOwn,
        28: btngroup,
        29: search,
        30: home,
        31: course,
        32: users,
        33: notifications,
        34: chat,
        35: review,
        36: board,
        37: announcement,
        38: carousel,
        39: update),
    QS: (1: right,
        2: left,
        3: check,
        4: activity,
        5: exam,
        6: radio,
        7: checkbox),
    SNAP: (1: save,
        2: bug,
        3: delete,
        4: lock,
        5: unlock,
        6: edit,
        7: page,
        8: folder,
        9: folderclosed,
        10: warning),

    ribbons: (0: tip,
        1: information,
        2: dyk,
        3: warning,
        4: exam,
        5: click,
        6: alarm,
        7: clock,
        8: graph,
        9: docs,
        10: links,
        11: activity,
        12: magnify),

    fontawesome:(0: goto,
        1: calc,
        2: formula,
        3: legal,
        4: nicetoknow,
        5: note,
        6: case,
        7: poll,
        8: preptime,
        9: read,
        10: web,
        11: screen,
        12: puzzle,
        13: thumbsup,
        14: call,
        15: checklist,
        16: keyword,
        17: paperclip,
        18: hammer,
        19: network,
        20: a11y),
    D2L:(0: rightcurvearrow,
        1: leftcurvearrow,
        2: quotemarks,
        3: handselect));