<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- preloaded D2L template to be changed -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/thirdpartylib/bootstrap-4.3.1/css/bootstrap.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet"
        href="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/css/styles.min.css">
    <link rel="stylesheet"
        href="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/thirdpartylib/bootstrap-4.3.1/css/bootstrap.min.css"
        id="D2L_style_bootstrap">

    <!-- inject:css -->
    <link rel="stylesheet"
        href="../thirdpartylib/fontawesome-free-5.9.0-web/css/all.min.css">
    <link rel="stylesheet" href="../css/csps2021_D2L.css" id="D2L_style_csps">
    <link rel="stylesheet" href="../css/csps2021_WET.css">
    <!-- endinject -->

    <title>Page personnalisée</title>
</head>

<body>
    <div class="container-fluid data">
        <div class="row">
            <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                <!-- Ajouter du contenu ici -->


                <!-- Fin du contenu -->
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript: jQuery first, then Popper.js, then Bootstrap JS -->
    <script
        src="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/thirdpartylib/jquery/jquery-3.4.1.min.js">
    </script>
    <script
        src="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/thirdpartylib/popper-js/popper.min.js">
    </script>
    <script
        src="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/thirdpartylib/bootstrap-4.3.1/js/bootstrap.min.js">
    </script>
    <!-- Template JavaScript -->
    <script
        src="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/js/scripts.min.js">
    </script>

    <!-- inject:js -->
    <script src="../js/interactions.js"></script>
    <!-- endinject -->

</body>

</html>