@use '../colors'as *;
@use'../mobile'as *;

/*========= Footers ==========*/
footer {
    border-top: 4px solid #3f2a56;
    padding-top: 30px;
    margin-top: 1.875rem;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
}

footer #logo-left {
    padding-bottom: 30px;
}

footer #logo-right {
    padding-bottom: 15px;
}

@media screen and (min-width: 576px) {
    footer {
        display: block;
        overflow: hidden;
    }

    footer #logo-left {
        padding-top: 6px;
        float: left;
        padding-left: 32px;
    }

    footer #logo-right {
        float: right;
        padding-right: 32px;
    }
}